.navbar {
    position: fixed;
    bottom: 0;
    background-color: var(--nav-bg-primary);
    width: 100%
}

.navbar ul {
    display: flex;
    list-style: none;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
}

@media only screen and (min-width: 600px) {
    .navbar {
        top: 0;
        width: 5rem;
    }

    .navbar ul {
        flex-direction: column;
        height: 100vh;
        justify-content: flex-start;
    }

    main {
        margin-left: 5rem;
    }

    .navbar:hover {
        width: 16rem;
    }

    .navbar:hover span {
        display: inline;
    }
}