:root {
  font-family: 'Roboto', sans-serif;
}

body  {
  margin: 0;
  border: 0;
  color: black;
  backgorund-color: white
}

body::-webkit-scrollbar{
  width: 5px;
}

body::-webkit-scrollbar-track {
  background: aqua;
}

body::-webkit-scrollbar-thumb {
  background: red;
}